
.form-box { margin-bottom: 15px; }
.form-control{width: 300px;}
#sample5_address{margin-bottom: 15px;}

.btn-default#cancel{color:red;}
.btn-xs.btn-default#waiting{color:red;}
#complete{color:blue; font-size: 1.3em;}